{% extends "base.html.twig" %}
{% block body %}
<div class="full" style="align:center;">\
	{% if error==1 %}
	<h1 style="width:100%;text-align:center">An Error Has Occured, Not A Valid Key</h1>
	{% else %}
	<div style="display:flex;flex-direction:row;flex-wrap:wrap;
				justify-content:center;align-items:center;width:100%">
		<canvas width="{{ calcWidth }}" height="{{ calcHeight}}" id="mainCanvas"></canvas>
	</div>
	<h1 style="width:100%;text-align:center" id="finishString"></h1>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script>
	 var json;
	 var nodes;
	 var edges;
	 var width={{ calcWidth }};
	 var height={{ calcHeight }};
	 var key="{{ key }}";
	 var canvas= document.getElementById("mainCanvas");
	 var ctx=canvas.getContext("2d");
	 var dims={{ dims }};
	 var position= {{ positions }};
	 var r= {{ r }};
	 var interval = setInterval(function(){
	 	//console("asdf");
	 	$.post("/getupdate",
	 	{
	 		key : key,
	 		type: "neuralnet"
	 	},
	 	function(data, status){
	 		if(data==""){
	 			document.getElementById("finishString").html("An Error Has Occurred");
	 			clearInterval(interval);
	 		}
	 		console.log(data);
	 		json=JSON.parse(data);
	 		nodes=JSON.parse(json["nodes"]);
	 		edges=JSON.parse(json["edges"]);
	 		for(var i=0;i<dims.length-1;i++){
				for(var j=0;j<dims[i+1];j++){
					for( var j2=0;j2<dims[i];j2++){
						ctx.beginPath();
						ctx.lineWidth=edges[i][j][j2]*10;
						ctx.moveTo(position[i+1][j][0],position[i+1][j][1]);
						ctx.lineTo(position[i][j2][0],position[i][j2][0]);
						ctx.stroke();
					}
				}
	 		}
	 		for(var i=0;i<dims.length;i++){
				for(var j=0;j<dims[i];j++){
					ctx.beginPath();
					ctx.arc(position[i][j][0]+r,position[i][j][1],r,0,2*Math.PI);
					ctx.fillStyle="white";
					ctx.fill();
					if(i!=0)
						ctx.fillText(nodes[i-1][j],position[i][j][0]-r/2,position[i][j][1]-5);
					ctx.stroke();
				}
			}
	 		if(json["status"]=="complete"){
	 			document.getElementById("finishString").html("Status: finished");
	 			clearInterval(interval);
	 		}
	 	});
	 },1000);
	</script>
	{% endif %}
</div>
{% endblock body %}